.cricket-wrapper {
  .cricket-dashboard-view {
    &__count-widget {
      background: #fff;
    }

    &__count-widget--data {
      padding: 15px 0;
      text-align: center;
    }

    &__count-widget--data-label {
      font-size: 20px;
      text-transform: uppercase;
      display: block;
    }

    &__count-widget--data-value {
      font-size: 50px;
      font-weight: 500;
      color: #777;
    }
  }
}