.cricket-wrapper {
  .dashboard-view {
    &__count-widget {
      border-radius: 4px;
      box-shadow: 0 2px 0 rgba(90,97,105,.07),
                0 4px 8px rgba(90,97,105,.08),
                0 10px 10px rgba(90,97,105,.03),
                0 7px 70px rgba(90,97,105,.08);
      background: #fff;
    }

    &__count-widget--data {
      padding: 5px 0;
    }

    &__count-widget--data-label {
      font-size: 20px;
      text-transform: uppercase;
    }

    &__count-widget--data-value {
      font-size: 30px;
    }
  }
}