.cricket-wrapper .cricket-dashboard-list__item {
  height: 150px;
  padding: 30px;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 0 rgba(90, 97, 105, 0.07), 0 4px 8px rgba(90, 97, 105, 0.08), 0 10px 10px rgba(90, 97, 105, 0.03), 0 7px 70px rgba(90, 97, 105, 0.08);
          box-shadow: 0 2px 0 rgba(90, 97, 105, 0.07), 0 4px 8px rgba(90, 97, 105, 0.08), 0 10px 10px rgba(90, 97, 105, 0.03), 0 7px 70px rgba(90, 97, 105, 0.08);
  background: #fff;
  text-align: center;
}
.cricket-wrapper .cricket-dashboard-list__item:hover {
  background: #f3f3f3;
}
.cricket-wrapper .cricket-dashboard-list__item-link {
  text-decoration: none;
  font-size: 24px;
  display: inline-block;
  margin-top: 18px;
  line-height: 1.3;
}
.cricket-wrapper {
  background: #fff;
}
.cricket-wrapper .cricket-dashboard-view__count-widget {
  background: #fff;
  padding-bottom: 10px;
}
.cricket-wrapper .cricket-dashboard-view__count-widget--data {
  padding: 15px 0;
  text-align: center;
}
.cricket-wrapper .cricket-dashboard-view__count-widget--data-label {
  font-size: 18px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 8px;
}
.cricket-wrapper .cricket-dashboard-view__count-widget--data-value {
  font-size: 32px;
  font-weight: 500;
  color: #777;
}
.cricket-wrapper .cricket-dashboard-view__count-widget--periodic-data {
  display: block;
  font-size: 16px;
}
.cricket-wrapper .cricket-dashboard-view__count-widget--last-date {
  display: block;
  font-size: 14px;
}
.cricket-wrapper .cricket-dashboard-view .zoom-widget-btn {
  text-decoration: none;
  color: #d3d3d3;
  font-size: 24px;
}
.cricket-wrapper .text-success {
  color: #3c763d;
}
.cricket-wrapper .text-danger {
  color: #b70b0b;
}
.cricket-wrapper .text-muted {
  color: #777;
}
.cricket-wrapper .cricket-card {
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 0 rgba(90, 97, 105, 0.07), 0 4px 8px rgba(90, 97, 105, 0.08), 0 10px 10px rgba(90, 97, 105, 0.03), 0 7px 70px rgba(90, 97, 105, 0.08);
          box-shadow: 0 2px 0 rgba(90, 97, 105, 0.07), 0 4px 8px rgba(90, 97, 105, 0.08), 0 10px 10px rgba(90, 97, 105, 0.03), 0 7px 70px rgba(90, 97, 105, 0.08);
  border: 1px solid #f5f5f5;
  background: #fff;
}
.cricket-wrapper .cricket-card .cricket-card-text {
  margin-bottom: 1.5625rem;
}
.cricket-wrapper .cricket-card a:hover {
  text-decoration: none;
}
.cricket-wrapper .cricket-card-small {
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 0 rgba(90, 97, 105, 0.11), 0 4px 8px rgba(90, 97, 105, 0.12), 0 10px 10px rgba(90, 97, 105, 0.06), 0 7px 70px rgba(90, 97, 105, 0.1);
          box-shadow: 0 2px 0 rgba(90, 97, 105, 0.11), 0 4px 8px rgba(90, 97, 105, 0.12), 0 10px 10px rgba(90, 97, 105, 0.06), 0 7px 70px rgba(90, 97, 105, 0.1);
  border: 1px solid #f5f5f5;
  background: #fff;
}
.cricket-wrapper .cricket-card-small .cricket-card-body {
  padding: 1rem 1.5rem;
}
.cricket-wrapper .cricket-card-small .cricket-card-footer {
  padding: 1rem 1.5rem;
}
.cricket-wrapper .cricket-card-small .cricket-card-header {
  padding: 1rem 1.5rem;
}
.cricket-wrapper .cricket-card-body > p:last-child {
  margin-bottom: 0;
}
.cricket-wrapper .cricket-card-title {
  font-weight: 500;
  margin-bottom: 0.75rem;
}
.cricket-wrapper .cricket-card-subtitle {
  margin-top: -1.09375rem;
}
.cricket-wrapper .cricket-card-link + .cricket-card-link {
  margin-left: 1.875rem;
}
.cricket-wrapper .cricket-card-header {
  padding: 1.09375rem 1.875rem;
  background-color: #fff;
  border-bottom: none;
  text-align: left;
  font-weight: 500;
}
.cricket-wrapper .cricket-card-header:first-child {
  border-radius: 4px 4px 0 0;
}
.cricket-wrapper .cricket-card-footer {
  padding: 1.09375rem 1.875rem;
  background-color: #fff;
  border-top: none;
}
.cricket-wrapper .cricket-card-footer:last-child {
  border-radius: 0 0 0.625rem 0.625rem;
}
.cricket-wrapper .form-control {
  height: auto;
  font-size: 1em;
}
/*
* Component: Dropdown menus
* -------------------------
*/
.cricket-dropdown {
  display: inline-block;
  float: right;
  margin-top: 20px;
  margin-left: 15px;
}
.cricket-dropdown .caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.cricket-dropdown .dropup,
.cricket-dropdown .dropdown {
  position: relative;
}
.cricket-dropdown .dropdown-toggle:focus {
  outline: 0;
}
.cricket-dropdown .dropdown-menu > li > a {
  color: #777;
}
.cricket-dropdown .dropdown-menu > li > a > .glyphicon,
.cricket-dropdown .dropdown-menu > li > a > .fa,
.cricket-dropdown .dropdown-menu > li > a > .ion {
  margin-right: 10px;
}
.cricket-dropdown .dropdown-menu > li > a:hover {
  background-color: #777;
  color: #333;
  text-decoration: none;
}
.cricket-dropdown .dropdown-menu > .divider {
  background-color: #eee;
}
.cricket-dropdown .dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0 !important;
  left: inherit;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
.cricket-dropdown .dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
.cricket-dropdown .dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}
.cricket-dropdown .dropdown-menu > li > a:hover,
.cricket-dropdown .dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.cricket-dropdown .open > .dropdown-menu {
  display: block;
}
.cricket-dropdown .open > a {
  outline: 0;
}
.cricket-dropdown .dropdown-menu-right {
  left: auto;
  right: 0;
}
.cricket-dropdown .dropdown-menu-left {
  left: 0;
  right: auto;
}
.cricket-dropdown .dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #777777;
  white-space: nowrap;
}
.cricket-dropdown .dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 990;
}
.cricket-dropdown .pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}
.cricket-dropdown .dropup .caret,
.cricket-dropdown .navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px dashed;
  border-bottom: 4px solid \9;
  content: "";
}
.cricket-dropdown .dropup .dropdown-menu,
.cricket-dropdown .navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 2px;
}
@media (min-width: 768px) {
  .cricket-dropdown .navbar-right .dropdown-menu {
    left: auto;
    right: 0;
  }
  .cricket-dropdown .navbar-right .dropdown-menu-left {
    left: 0;
    right: auto;
  }
}
.cricket-wrapper .cricket-zoom-in-modal {
  background: transparent;
}
.cricket-wrapper .cricket-zoom-in-modal .modal-dialog {
  width: 96% !important;
}
.cricket-wrapper .cricket-zoom-in-modal .modal-content {
  border-radius: 2px;
}
.cricket-wrapper .cricket-zoom-in-modal .modal-footer {
  display: none;
}
.cricket-wrapper .cricket-zoom-in-modal .modal-header {
  border-bottom: none;
}

/*# sourceMappingURL=maps/styles.css.map */
